@charset 'utf-8';

.skill {
  width: 200px;
  height: 235px;
  border: 1px solid var(--secondary_color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.skill .disc {
  text-align: center;
  padding: 5px;
}
.skill .disc p {
  text-align: center;
  font-size: 1.5rem;
}
.skill img {
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.skill a {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3px;
  text-decoration: none;
  background-color: var(--hover);
  color: var(--text_color);
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 500;
  transition: 300ms ease-in-out;
}
.skill a:hover {
  color: var(--primary_color);
  background-color: var(--secondary_color);
}
