.menu_desk {
  display: none;
}
@media screen and (min-width: 769px) {
  .menu_desk {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 5px;
      font-size: 1.7rem;
      font-weight: 600;
    }
    .container_LinkGames {
      display: flex;
      flex-direction: column;
      position: relative;

      .game_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: absolute;
        transition: all 0.3s;
        z-index: -1;
        border-bottom: 1px solid var(--hover);

        transition: all 500ms ease-out;
        top: -100px;
        right: 0;
        left: 0;
        opacity: 0;

        li {
          background-color: var(--primary_color);
        }

        a {
          display: block;
          padding: 5px;
          font-size: 1.7rem;
          font-weight: 600;
        }
      }

      &:hover .game_links{
        top: 30px;
        opacity: 1;
      }
    }
  }
}
