@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary_color: #ecedef;
  --secondary_color: #c46e52;
  --text_color: #035254;
  --hover: #f3c38f;
  --hover_text: #499c97;
}

body {
  background-color: var(--primary_color);
  color: var(--text_color);
}
main {
  min-height: 100vh;
  margin-top: 60px;
}
a {
  text-decoration: none;
  color: var(--text_color);
}
a:hover {
  color: var(--hover_text);
}
li {
  list-style: none;
}
