.home {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0px;
  margin: 0 auto;

  background-image: url('/img/imgfullhome.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.home .home_text {
  max-width: 900px;
  padding: 5px;
  background-color: var(--primary_color);
  border-radius: 10px;
}
.home .home_text h1 {
  font-size: 5rem;
  text-align: center;
}
.home .home_text p {
  font-size: 2.5rem;
  text-align: center;
}
.home .home_text span {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .home .home_text h1 {
    font-size: 4rem;
  }
  .home .home_text p {
    font-size: 2rem;
    text-align: center;
  }
}
