.footer {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 2px solid var(--hover);
  height: 60px;
  position: relative;

  .redes {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    gap: 15px;

    a {
      display: flex;
      font-size: 1.8rem;
      align-items: center;
      flex-direction: row;
      gap: 5px;
    }
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    color: var(--secondary_color);
    &:hover {
      color: var(--hover);
    }
  }
  p {
    font-size: 1.4rem;
  }
}
